---
import Layout from "@layouts/Layout.astro";
import ContainerFW from "@components/container-fullwidth.astro";
import ContainerXL from "@components/container-xl.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionmid.astro";
import SectionEmail from "@components/sectionhead-email.astro";
import Cta from "@components/cta.astro";
import SectionHeadImg from "@components/sectionhead-img.astro";
import SectionHeadSecImg from "@components/sectionhead-img-rev.astro";
import SectionTextarea from "@components/sectionmid-textarea.astro";
import FeaturesGrid from "@components/grid-4x4-features.astro";
import Pricing from "@components/pricing.astro";
import Logos from "@components/logos.astro";
import Integrations from "@components/logos-integrations.astro";
import GallerySlider from "@components/slider-gallery-branding.astro";
import { Picture } from "@astrojs/image/components";
import PagecoverHero from '../assets/products-sqr/animated-ad-design.webp';
import Pagecover from '../assets/backgrounds/balance.webp';
import PagecoverSecondary from '../assets/backgrounds/funnel.webp';
import CoverTextarea from '../assets/backgrounds/cubed.webp';
import { Icon } from "astro-icon";


const pricing = [
  {
    name: "Moonshot Plan",
    price: "$3445",
    popular: true,
    features: [
      "2x 15-min video-call brand sessions",
      "2x design revisions",
      "3x web pages w/ 0.2 sec load time avg.",
      "High conversion landing pages with purposeful marketing",
      "Simple social conversion tracking",
      "Social brand pack w/ 2x design releases",
      "50+ Velocity7 components",
      "Out-of-the-box SEO performance",
      "Cookie-less social user tracking",
      "Domain & DNS optimisation",
      "Email forwarding setup",
      "2x lead gen funnels",
      "Stripe payment processing",
      "Infitely extendable, ultra-light codebase",
      "Lifetime license of your site",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/4gwaGdg1JeJL0MM6oF",
    },
  }, 
];
---

<Layout title="Marketing Management + Optimisation with the Moonshot Plan">



  <ContainerXL>
    <SectionEmail>
      <Fragment slot="title">
        Monthly management at a fixed price, pause anytime.
      </Fragment>
      <Fragment slot="desc">       
        World-class web optimisation, SEO, automation + digital marketing, at a fraction of the cost.
        Focusing on improving KPI's with detailed focus. Improve conversion rate and CPA, every month. 
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={PagecoverHero}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionEmail>

  </ContainerXL>

  <ContainerXL>
    <SectionHeadImg>
      <Fragment slot="title">
        Search engine marketing professionals.
      </Fragment>
      <Fragment slot="desc">
        Looking to maximize your online visibility? Look no further than Aidxn Design, the go-to solution 
        for search engine marketing professionals. We optimize websites with a deep dive on SEM/SEO tactics 
        to find the right traffic for your business. Unmatched SEM solutions, ready for the AI search revolution.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={Pagecover}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadImg>
  </ContainerXL>

  <ContainerXL>
    <SectionHeadSecImg>
      <Fragment slot="title">
        Global marketing strategy expertise.
      </Fragment>
      <Fragment slot="desc">
        Gain the experience from years of curating and managing global brand launches, to instant online success. 
        Reliable digital marketing management on the Gold Coast with Aidxn Design. Our marketing managers are like 
        mission control for your business, quickly identifying the areas of improvement over and over inside your brand. 
        An outside set of eyes is always a necessesity in effective marketing design. Plus we will come to your GC business 
        once a month in-person, for faster marketing strategy approval and content creation, when part of the <a href="/moonshot-plan">Moonshot Plan</a>.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={PagecoverSecondary}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadSecImg>
  </ContainerXL>

  <ContainerXL>
    <SectionTextarea>
      <Fragment slot="title">Cost Per Conversion Optimisation.</Fragment>
      <Fragment slot="desc">
        Unlock the untapped potential of your brand with Aidxn Design's conversion optimization expertise. 
        Our holistic approach optimizes conversion from every corner of your brand, transforming visitors 
        into loyal customers. Through meticulous analysis, strategic enhancements, and seamless user 
        experiences, we ignite a powerful synergy that elevates your brand's performance. Experience the 
        transformative impact of our brand conversion optimization and unleash your brand's true potential.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={CoverTextarea}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
      <Fragment slot="iconleft">
        <Icon class="w-16 h-16" name="simple-icons:googleads" />
      </Fragment>
      <Fragment slot="titleleft">
        Google Search Ad Management
      </Fragment>
      <Fragment slot="textleft">
        Google Search management on the Gold Coast by award-winning 
        marketing managers. With focus on lowering CPM and Cost per 
        Conversion, through improved segmentation and targeting.
      </Fragment>
      <Fragment slot="iconright">
        <Icon class="w-16 h-16" name="simple-icons:googleads" />
      </Fragment>
      <Fragment slot="titleright">
        Google Display Ad Design
      </Fragment>
      <Fragment slot="textright">
        Creating animated ads that crush the Google Display bidding 
        space. Showing 99% hit rate of realestate.com.au with Display, 
        at a fraction of the cost of their on-site sponsorship.
      </Fragment>
      <Fragment slot="iconleft2">
        <Icon class="w-16 h-16" name="simple-icons:facebook" />
      </Fragment>
      <Fragment slot="titleleft2">
        Facebook Ad Manager Optimisation
      </Fragment>
      <Fragment slot="textleft2">
        We have been improving results within Facebook's purposefully terrible 
        FB ad manager. Understanding the algorithms behind their platforms deeply 
        from years of managing hundreds of campaigns.
      </Fragment>
      <Fragment slot="iconright2">
        <Icon class="w-16 h-16" name="simple-icons:cinema4d" />
      </Fragment>
      <Fragment slot="titleright2">
        Video Ads + 3D Asset Design
      </Fragment>
      <Fragment slot="textright2">
        Improve your brands reach with professionally produced video ads. We have racked up 
        over 10 billion video views across our designed ads. Using beautiful renders and 
        attention-grabbing motion graphics, then maximising with tested variation creatives.
      </Fragment>      
    </SectionTextarea>
  </ContainerXL>

  <Container>

    <Sectionhead>
      <Fragment slot="title">Month on Month Marketing Optimisation with Moonshot.</Fragment>
      <Fragment slot="desc"
        >Get the best of everything with offer at a fixed monthly price. Allowing us to get to know your brand 
        and customer deeply. We aim to constantly improve your brand's performance, month on month. But we are also 
        completely honest and transparent, if a month isn't looking like it's going on track, we double down to find 
        the reason and fix it fast. As people who have run our own businesses, we understand how quickly money can burn.
      </Fragment>
    </Sectionhead>

    <Integrations />

  </Container>

  <ContainerXL>
    <Sectionhead>
      <Fragment slot="title">Ready for launch?</Fragment>
      <Fragment slot="desc" class="max-w-4xl">
        Its our goal to make you love marketing just as much as we do. The best way we know how, through raw results.
      </Fragment>
    </Sectionhead>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-16 mx-auto mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </ContainerXL>

  <Container>
    <Cta />
  </Container>

  
</Layout>
