---
import Layout from "@layouts/Layout.astro";
import ContainerFW from "@components/container-fullwidth.astro";
import Container from "@components/container.astro";
import ContainerXL from "@components/container-xl.astro";
import Sectionhead from "@components/sectionhead.astro";
import SectionEmail from "@components/sectionhead-email.astro";
import SectionExplain from "@components/sectionhead-explainer.astro";
import SectionTextarea from "@components/section-textarea.astro";
import FeaturesFW from "@components/features-fullwidth.astro";
import Pricing from "@components/pricing.astro";
import ContactSimple from "@components/contactform-simple.astro";
import Logos from "@components/logos.astro";
import Integrations from "@components/logos-integrations.astro";
import GallerySlider from "@components/slider-gallery.astro";
import Clientscta from "@components/cta-clients.astro";
import Velocitycases from "@components/velocity-casestudies.astro";
import { Picture } from "@astrojs/image/components";
import Pagecover from '../assets/backgrounds/balance.webp';
import PagecoverSecondary from '../assets/backgrounds/funnel.webp';
import PagecoverThird from '../assets/backgrounds/shadow.webp';
import CoverTextarea from '../assets/backgrounds/cubed.webp';
import { Icon } from "astro-icon";


const pricing = [
  {
    name: "Velocity7 - Small",
    price: "$2445",
    popular: false,
    features: [
      "2x 15-min video-call brand sessions",
      "2x design revisions",
      "3x web pages w/ 0.2 sec load time avg.",
      "High conversion landing pages with purposeful marketing",
      "Simple social conversion tracking",
      "Social brand pack w/ 2x design releases",
      "50+ Velocity7 components",
      "Out-of-the-box SEO performance",
      "Cookie-less social user tracking",
      "Domain & DNS optimisation",
      "Email forwarding setup",
      "2x lead gen funnels",
      "Stripe payment processing",
      "Infitely extendable, ultra-light codebase",
      "Lifetime license of your site",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/7sIcOleXFgRTbrq4gg",
    },
  },
  {
    name: "Velocity7 - Medium",
    price: 
      "$3445",
    popular: true,
    features: [
      "3x 15-min video-call brand sessions",
      "4x design revisions",
      "6x web pages w/ 0.2 sec load time avg.",
      "High conversion landing pages with purposeful marketing",
      "Custom social conversion tracking",
      "Social brand pack w/ 4x design releases",
      "50+ Velocity7 components",
      "Out-of-the-box SEO performance",
      "Cookie-less social user tracking",
      "Domain & DNS optimisation",
      "Email forwarding setup",
      "4x lead gen funnels",
      "Stripe payment processing",
      "Infitely extendable, ultra-light codebase",
      "Lifetime license of your site",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/28o15Dg1JfNPcvufZ6",
    },
  },
  {
    name: "Velocity7 - E-Commerce",
    price: "$6445",
    popular: false,
    features: [
      "4x 15-min video-call brand sessions",
      "6x design revisions",
      "12x web pages w/ 0.2 sec load time avg.",
      "2x in-person strategy sessions",
      "E-Commerce store extension on sub-domain",
      "Custom social conversion tracking",
      "Social brand pack w/ 8x design releases",
      "50+ Velocity7 components",
      "Out-of-the-box SEO performance",
      "Cookie-less social user tracking",
      "Domain & DNS optimisation",
      "Email forwarding setup",
      "2x lead gen funnels",
      "Stripe payment processing",
      "Infitely extendable, ultra-light codebase",
      "Lifetime license of your site",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/cN2eWtdTBdFH1QQ14d",
    },
  },
  {
    name: "Velocity7 - Enterprise",
    price: "$8445",
    popular: false,
    features: [
      "8x 15-min video-call brand sessions",
      "12x design revisions",
      "Unlimited web pages w/ 0.2 sec load time avg.",
      "6x in-person strategy sessions",
      "High conversion landing pages with purposeful marketing",
      "Custom social conversion tracking",
      "Social brand pack w/ 8x design releases",
      "50+ Velocity7 components",
      "Out-of-the-box SEO performance",
      "Cookie-less social user tracking",
      "Domain & DNS optimisation",
      "Email forwarding setup",
      "2x lead gen funnels",
      "Stripe payment processing",
      "Infitely extendable, ultra-light codebase",
      "Lifetime license of your site",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/7sIcOleXFgRTbrq4gg",
    },
  }, 
];
---

<Layout title="Velocity7">



  <ContainerFW>

    <SectionEmail>
      <Fragment slot="title">
        Our Conversion-Focused, High Performance Theme.
      </Fragment>
      <Fragment slot="desc">
        The perfect balance between website template and custom code. Created to rapidly build successful websites for Australian businesses.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={Pagecover}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionEmail>

  </ContainerFW>

  <ContainerFW>
    <FeaturesFW />
  </ContainerFW>

  <ContainerFW>
    <GallerySlider />
  </ContainerFW>

  <ContainerXL>
    <Sectionhead>
      <Fragment slot="title">Ready to Launch?</Fragment>
      <Fragment slot="desc" class="max-w-4xl">
        With a size for every business, we're here to help!
      </Fragment>
    </Sectionhead>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 mx-auto mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </ContainerXL>

  <ContainerXL>
    <SectionExplain>
      <Fragment slot="title">
        Crush Competitive Niches.
      </Fragment>
      <Fragment slot="desc">
        Velocity's outstanding performance places businesses in a favorable position for SEO and social algorithms. With faster load times and improved user experience, Velocity websites rank higher in search engine results, leading to increased organic traffic. Additionally, social algorithms favor websites that provide seamless browsing experiences, enhancing the visibility and reach of businesses on various social media platforms. Velocity's performance optimization directly contributes to better online visibility and digital success.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={PagecoverSecondary}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionExplain>
  </ContainerXL>

  <ContainerXL>
    <SectionExplain>
      <Fragment slot="title">
        Built on Web3.
      </Fragment>
      <Fragment slot="desc">
        Velocity is a top choice for powerful and versatile website frameworks. It leverages the latest web technologies and best practices, enabling developers to create visually stunning, functional, and performant websites. Its modular structure promotes code reusability, reducing development time. With extensive documentation, active community support, and a solid foundation, Velocity empowers developers to build exceptional online experiences. Its continuous updates drive innovation, making Velocity the forefront of website frameworks, including Astro architecture.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={PagecoverThird}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionExplain>
  </ContainerXL>

  <ContainerXL>
    <SectionTextarea>
      <Fragment slot="title">Making Business Simpler.</Fragment>
      <Fragment slot="desc" class="max-w-6xl">
        Velocity is the website framework that brings speed, functionality, and flexibility all into one, developed over 5 years with these 3 points in mind. Intuitive well-designed components that can be quickly rebranded. Velocity empowers developers to build high-performing websites with ease. Create websites that can grow with the demands of your business. With Velocity, you can unlock the full potential of your business and deliver exceptional service and experiences to your customer.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={CoverTextarea}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
      <Fragment slot="iconleft">
        <Icon class="w-16 h-16" name="simple-icons:zapier" />
      </Fragment>
      <Fragment slot="textleft">
        Integrate Velocity7 seamlessly into your workflows with Zapier's powerful automation platform. Connect Velocity7 to your favorite apps and streamline your processes effortlessly. With Zapier's extensive library of triggers and actions, you can automate tasks, synchronize data, and trigger events in Velocity7 with just a few clicks. Boost your productivity and efficiency by harnessing the full potential of Velocity7 through Zapier's intuitive interface.
      </Fragment>
      <Fragment slot="iconright">
        <Icon class="w-16 h-16" name="simple-icons:netlify" />
      </Fragment>
      <Fragment slot="textright">
        Unlock the true potential of your website by integrating Velocity7 using Netlify's robust API capabilities. Seamlessly incorporate Velocity7 into your web development workflow and enhance your website's performance. With Netlify's simple and flexible API, you can easily access Velocity7's features and leverage its power to create dynamic, personalized experiences for your users. Take control of your website's velocity and elevate your online presence with the seamless integration of Velocity7 through Netlify's API.
      </Fragment>
      <Fragment slot="iconleft2">
        <Icon class="w-16 h-16" name="simple-icons:googleads" />
      </Fragment>
      <Fragment slot="textleft2">
        Maximize your advertising effectiveness with Google Ads' built-in conversion tracking. Easily track and measure the success of your campaigns by monitoring the conversions that matter most to your business. Gain valuable insights into customer behavior and optimize your ad strategy accordingly. With Google Ads' comprehensive conversion tracking, you can make data-driven decisions and drive higher ROI for your advertising efforts.
      </Fragment>
      <Fragment slot="iconright2">
        <Icon class="w-16 h-16" name="simple-icons:stripe" />
      </Fragment>
      <Fragment slot="textright2">
        Streamline your payment process and boost sales with Stripe's secure payment gateway. With one-click checkout, you can provide a seamless payment experience for your customers, reducing cart abandonment and driving conversions. Benefit from Stripe's cost-effective rates, transparent pricing, and robust fraud prevention tools. Whether you're selling products, services, or subscriptions, Stripe empowers you to handle payments with confidence while delivering a frictionless payment experience.
      </Fragment>      
    </SectionTextarea>
  </ContainerXL>

  <Container>

      <Sectionhead>
        <Fragment slot="title">Light as a Feather.</Fragment>
        <Fragment slot="desc" class="max-w-4xl"
          >We've spent 5 years developing Velocity into the one of the fastest website foundations available. 
          V7 comes in at a feather-weight 68kb pageload for a full website ready for rapid branding, infinitly extendable.
        </Fragment>
      </Sectionhead>

      <Integrations />

  </Container>

  <Container>

      <Sectionhead>
        <Fragment slot="title">Turn Around in 21 Days.</Fragment>
        <Fragment slot="desc">
          All components are styled to your brand and pages duplicated from your old site by our team during initial deployment. 
          Watch our development live on the fly to help us move faster or use your multiple design revisions.
        </Fragment>
      </Sectionhead>

      <Logos />

  </Container>
  
</Layout>
