---
import Layout from "@layouts/Layout.astro";
import ContainerFW from "@components/container-fullwidth.astro";
import ContainerXL from "@components/container-xl.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionmid.astro";
import SectionEmail from "@components/sectionhead-email.astro";
import Cta from "@components/cta.astro";
import VelocityHero from "@components/hero-centered.astro";

import SectionHeadImg from "@components/sectionhead-img.astro";
import SectionHeadSecImg from "@components/sectionhead-img-rev.astro";
import SectionTextarea from "@components/sectionmid-textarea.astro";
import FeaturesGrid from "@components/grid-4x4-features.astro";
import Pricing from "@components/pricing.astro";
import Accordian from "@components/accordian.astro";
import Integrations from "@components/logos-integrations.astro";
import { Picture } from "@astrojs/image/components";
import Pagecover from '../assets/backgrounds/balance.webp';
import PagecoverSecondary from '../assets/backgrounds/funnel.webp';
import CoverTextarea from '../assets/backgrounds/cubed.webp';
import { Icon } from "astro-icon";


const pricing = [

  {
    name: "Velocity - Small",
    price: "$2445",
    popular: false,
    features: [
      "2x 15-min video-call brand sessions",
      "2x design revisions",
      "Domain & DNS setup",
      "Initial website branding and content setup",
      "3x web pages w/ 0.2 sec load time avg.",
      "50+ components",
      "30+ integrations",
      "Custom lead generation funnel",
      "Stripe payment processing",
      "A+ SEO performance",
      "Integrated conversion tracking",
      "Cookie-less social user tracking",
      "Email handling + forwarding",
      "Infitely extendable with any NPM package",
      "Lifetime license of your site",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/7sIcOleXFgRTbrq4gg",
    },
  },
  {
    name: "Velocity - Medium",
    price: 
      "$3445",
    popular: true,
    features: [
      "3x 15-min video-call brand sessions",
      "3x design revisions",
      "Domain & DNS setup",
      "Initial website branding and content setup",
      "6x web pages w/ 0.2 sec load time avg.",
      "50+ components",
      "30+ integrations",
      "2x custom lead gen funnels",
      "Basic Storefront w/ 4 products / services",
      "Stripe payment processing",
      "A+ SEO performance",
      "Integrated conversion tracking",
      "Cookie-less social user tracking",
      "Email handling + forwarding",
      "Data CMS integration",
      "Infitely extendable with any NPM package",
      "Lifetime license of your site",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/28o15Dg1JfNPcvufZ6",
    },
  },
  {
    name: "Velocity - Large",
    price: "$4445",
    popular: false,
    features: [
      "8x 15-min video-call brand sessions",
      "8x design revisions",
      "Domain & DNS setup",
      "Initial website branding and content setup",
      "32x web page and products.",
      "50+ components",
      "30+ integrations",
      "4x custom lead gen funnels",
      "Large Storefront w/ 12 products / services",
      "Stripe payment processing",
      "A+ SEO performance",
      "Integrated conversion tracking",
      "Cookie-less social user tracking",
      "Email handling + forwarding",
      "Data CMS integration",
      "Custom website storefront",
      "Infitely extendable with any NPM package",
      "Lifetime license of your site",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/7sIaGd7vdgRT9jidRa",
    },
  },
];
---

<Layout title="Better websites with Velocity">

  <ContainerFW>
    <VelocityHero />
    <FeaturesGrid />
  </ContainerFW>

  <ContainerXL>
    <SectionHeadImg>
      <Fragment slot="smltitle">
        Focus
      </Fragment>
      <Fragment slot="title">
        Designed to make it easier to move to custom code.
        Developed over 5 years with focus on lead generation + UX.
      </Fragment>
      <Fragment slot="desc">
        Velocity takes years of code structuring and debugging to create a website framework that truly speeds up the development process. 
        Taking everything we know from 10+ years of web dev and specilising in high-performance web design. Ditch bloated website builders and subscriptions.
        Packed with everything you need for generating business with 30+ integrations + performant, user-friendly components. Pay once, own forever.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={Pagecover}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadImg>

    
    
    <SectionHeadSecImg>
      <Fragment slot="smltitle">
        Results
      </Fragment>
      <Fragment slot="title">
        Improved conversion rate + lowered cost per aquisition.
      </Fragment>
      <Fragment slot="desc">
        We've worked with hundreds of brands and have refined our process to deliver websites in 21 days, aiming to get as much of your input in minutes not hours. 
        When working with agencies, we noticed how much of everyone's time they wanted to waste for the sake of looking busy. Our management system allows you to check in 
        on our progress and add simple or complex feedback from any device. With Asana, Slack and Figma completely integrated across our process. 
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={PagecoverSecondary}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadSecImg>

    

    <SectionHeadImg>
      <Fragment slot="smltitle">
        Support
      </Fragment>
      <Fragment slot="title">
        24 hour support with 24 hour turnaround for 12 months included.
      </Fragment>
      <Fragment slot="desc">
        Let our team know of basic changes and our team with have them done within 24 turnaround 
        so your customers can always know of new changes in your business. Also includes our team 
        tracking and improving on keywork strategy using Search Console and working with your team.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={Pagecover}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadImg>



    <SectionHeadSecImg>
      <Fragment slot="smltitle">
        Manages
      </Fragment>
      <Fragment slot="title">
        Reducing the cost of websites + escaping subscriptions. 
      </Fragment>
      <Fragment slot="desc">
        Pay for your site once and own your code forever. No more endless subscriptions no server costs whatsoever. The only other 
        cost your website needs with Velocity is the yearly cost of your Domain and DNS ownership. 
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={PagecoverSecondary}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadSecImg>



    <SectionTextarea>
      <Fragment slot="smltitle">
        Includes
      </Fragment>
      <Fragment slot="title">80+ components from accordians, galleries and product cards.</Fragment>
      <Fragment slot="desc">
        Velocity 7 is a low-code framework that allows us to build websites faster than ever before. 
        While maintaining high-performance and high-conversion rate through faster design iterations. 
        Addressing the problems of website builders, while still feeling natural to use if you're experienced
        with them. Pay once, own forever.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={CoverTextarea}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
      <Fragment slot="iconleft">
        <Icon class="w-16 h-16" name="simple-icons:threedotjs" />
      </Fragment>
      <Fragment slot="titleleft">
        Three.JS
      </Fragment>
      <Fragment slot="textleft">
        Our absolute favourite website framework when it comes to getting creative is Three.JS.
        If you've got 3D assets within your brand already that aren't being put to use online, 
        you and your customer are missing out big time!
      </Fragment>
      <Fragment slot="iconright">
        <Icon class="w-16 h-16" name="simple-icons:astro" />
      </Fragment>
      <Fragment slot="titleright">
        Astro.JS
      </Fragment>
      <Fragment slot="textright">
        We write all our code within an Astro-based framework to ensure the fastest possible pageload times, 
        while also giving us to almost magical ability to work with any framework or code language you need.
        Integrate a React or Vue component? No problemo. Back-end API's in any language? Already sorted.
      </Fragment>
      <Fragment slot="iconleft2">
        <Icon class="w-16 h-16" name="simple-icons:cinema4d" />
      </Fragment>
      <Fragment slot="titleleft2">
        Cinema4D
      </Fragment>
      <Fragment slot="textleft2">
        Taking your custom experience further towards the metaverse with 
        high-quality 3D asset creation using Cinema4D, the industry leader 
        in rendering and 3D design. Made even more powerful with code.
      </Fragment>
      <Fragment slot="iconright2">
        <Icon class="w-16 h-16" name="simple-icons:stripe" />
      </Fragment>
      <Fragment slot="titleright2">
        Stripe payments
      </Fragment>
      <Fragment slot="textright2">
        Streamline your payment process and boost sales with Stripe's 
        secure payment gateway. With one-click checkout, you can 
        provide a seamless payment experience for your customers, 
        reducing cart abandonment and driving conversions. Benefit 
        from Stripe's transparent pricing, and robust fraud prevention 
        from day one for your business. For frictionless payment experiences.
      </Fragment>      
    </SectionTextarea>
  </ContainerXL>

  <Container>
    <Integrations />
  </Container>


  

  <ContainerXL>
    <Accordian />
  </ContainerXL>

  <ContainerFW>
    <Sectionhead>
      <Fragment slot="smltitle">
        Deploy
      </Fragment>
      <Fragment slot="title">Go live in 24 hours, finalised over 21 days.</Fragment>
      <Fragment slot="desc" class="max-w-4xl">
        We work fast to get an initial Velocity powered version 1 of your site live at a staging address, that way it can be accessed 
        and revised easily on real devices by any memeber of the teams working on the project. Edit tickets are submitted and managed 
        via any device easily using Asana.
      </Fragment>
    </Sectionhead>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-16 mx-auto mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </ContainerFW>

  <Container>
    <Cta />
  </Container>
  
</Layout>
