---
import Layout from "@layouts/Layout.astro";
import ContainerFW from "@components/container-fullwidth.astro";
import ContainerXL from "@components/container-xl.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionmid.astro";
import SectionEmail from "@components/sectionhead-email.astro";
import Cta from "@components/cta.astro";
import SectionHeadImg from "@components/sectionhead-img.astro";
import SectionHeadSecImg from "@components/sectionhead-img-rev.astro";
import SectionTextarea from "@components/sectionmid-textarea.astro";
import FeaturesGrid from "@components/grid-4x4-features.astro";
import Pricing from "@components/pricing.astro";
import Logos from "@components/logos.astro";
import Integrations from "@components/logos-integrations.astro";
import GallerySlider from "@components/slider-lrg-services-webdesign.astro";
import { Picture } from "@astrojs/image/components";
import PagecoverHero from '../assets/previous-works/website-conversion-optimisation.webp';
import Pagecover from '../assets/backgrounds/balance.webp';
import PagecoverSecondary from '../assets/backgrounds/funnel.webp';
import CoverTextarea from '../assets/backgrounds/cubed.webp';
import { Icon } from "astro-icon";


const pricing = [
{
    name: "Wordpress SPA",
    popular: false,
    features: [
      "1x 15-min video-call brand sessions",
      "1x design revisions",
      "Domain & DNS setup",
      "Serverless WP install for SEO and performance.",
      "1x web page w/ 0.8 sec load time avg.",
      "30+ paid plugins included",
      "10+ integrations setup",
      "1x lead gen funnels",
      "A+ SEO performance",
      "Integrated conversion tracking",
      "Cookie-less social user tracking",
      "Email handling + forwarding",
      "Infitely extendable with any NPM package",
      "Lifetime license of your site",
    ],
    
    price: "$1445",
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/4gwaGdg1JeJL0MM6oF",
    },
  },
  {
    name: "Wordpress - Small",
    price: "$2445",
    popular: false,
    features: [
      "2x 15-min video-call brand sessions",
      "2x design revisions",
      "Domain & DNS setup",
      "Serverless WP install for SEO and performance.",
      "3x web page w/ 0.8 sec load time avg.",
      "30+ paid plugins included",
      "10+ integrations setup",
      "2x lead gen funnels",
      "A+ SEO performance",
      "Integrated conversion tracking",
      "Cookie-less social user tracking",
      "Email handling + forwarding",
      "Stripe payment processing",
      "Infitely extendable with any NPM package",
      "Lifetime license of your site",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/7sIcOleXFgRTbrq4gg",
    },
  },
  {
    name: "Wordpress - Medium",
    price: 
      "$3445",
    popular: true,
    features: [
      "3x 15-min video-call brand sessions",
      "3x design revisions",
      "Domain & DNS setup",
      "Serverless WP install for SEO and performance.",
      "6x web page w/ 0.8 sec load time avg.",
      "30+ paid plugins included",
      "10+ integrations setup",
      "3x lead gen funnels",
      "A+ SEO performance",
      "Integrated conversion tracking",
      "Cookie-less social user tracking",
      "Email handling + forwarding",
      "Stripe payment processing",
      "Data CMS integration",
      "Infitely extendable with any NPM package",
      "Lifetime license of your site",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/28o15Dg1JfNPcvufZ6",
    },
  },
  {
    name: "Wordpress - E-Commerce",
    price: "$6445",
    popular: false,
    features: [
      "8x 15-min video-call brand sessions",
      "8x design revisions",
      "Domain & DNS setup",
      "Serverless WP install for SEO and performance.",
      "12x web page w/ 0.8 sec load time avg.",
      "30+ paid plugins included",
      "10+ integrations setup",
      "2x lead gen funnels",
      "A+ SEO performance",
      "Integrated conversion tracking",
      "Cookie-less social user tracking",
      "Email handling + forwarding",
      "Stripe payment processing",
      "Data CMS integration",
      "Custom website storefront",
      "Infitely extendable with any NPM package",
      "Lifetime license of your site",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/3cs7u102L0SV5328wA",
    },
  },
];
---

<Layout title="Award-Winning Wordpress Web Design on the Gold Coast.">

  <Container>
    <Sectionhead>
      <Fragment slot="title">Wordpress Web Design on the Gold Coast.</Fragment>
      <Fragment slot="desc">
        Helping brands scale from launch faster. Complete with everything needed to generate leads and sales online with ease. 
        Even offering serverless Wordpress installs for nearly instant pageload performance.
      </Fragment>
    </Sectionhead>
  </Container>

  <ContainerFW>
    <FeaturesGrid />
  </ContainerFW>

  <ContainerXL>
    <SectionHeadImg>
      <Fragment slot="title">
        10+ years experience perfecting Wordpress websites.
      </Fragment>
      <Fragment slot="desc">
        I've worked with Wordpress since I first started my career. It is one of the backbones to the modern internet and provides 
        serious value to a particular business. We help optimise Wordpress websites to a serious degree, helping address the issues 
        that newer technologies bring to the table. Wordpress web design and management only offered to Moonshot Plan customers to allow for true scope
        of creating beautiful, high conversion websites with Wordpress.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={Pagecover}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadImg>
  </ContainerXL>

  <ContainerXL>
    <SectionHeadSecImg>
      <Fragment slot="title">
        21-day turnaround.
      </Fragment>
      <Fragment slot="desc">
        We've worked with hundreds of brands and have refined our process to deliver websites in 21 days, aiming to get as much of your input in minutes not hours. 
        When working with agencies, we noticed how much of everyone's time they wanted to waste for the sake of looking busy. Our management system allows you to check in 
        on our progress and add simple or complex feedback from any device. With Asana, Slack and Figma completely integrated across our process. 
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={PagecoverSecondary}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadSecImg>
  </ContainerXL>

  <ContainerXL>
    <SectionTextarea>
      <Fragment slot="title">Award-winning Wordpress web design.</Fragment>
      <Fragment slot="desc">
        Our website designs have been showcased multiple times in the 'Best Websites of the Month' by Dribbble.
        We have also been showcased in web design and UX/UI newsletters, praised with "Some of the most cutting-edge 
        e-commerce storefront design and creative code design we have seen on the web in 2022". 
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={CoverTextarea}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
      <Fragment slot="iconleft">
        <Icon class="w-16 h-16" name="simple-icons:threedotjs" />
      </Fragment>
      <Fragment slot="titleleft">
        Three.JS
      </Fragment>
      <Fragment slot="textleft">
        Our absolute favourite website framework when it comes to getting creative is Three.JS.
        If you've got 3D assets within your brand already that aren't being put to use online, 
        you and your customer are missing out big time!
      </Fragment>
      <Fragment slot="iconright">
        <Icon class="w-16 h-16" name="simple-icons:astro" />
      </Fragment>
      <Fragment slot="titleright">
        Astro.JS
      </Fragment>
      <Fragment slot="textright">
        We write all our code within an Astro-based framework to ensure the fastest possible pageload times, 
        while also giving us to almost magical ability to work with any framework or code language you need.
        Integrate a React or Vue component? No problemo. Back-end API's in any language? Already sorted.
      </Fragment>
      <Fragment slot="iconleft2">
        <Icon class="w-16 h-16" name="simple-icons:cinema4d" />
      </Fragment>
      <Fragment slot="titleleft2">
        Cinema4D
      </Fragment>
      <Fragment slot="textleft2">
        Taking your custom experience further towards the metaverse with 
        high-quality 3D asset creation using Cinema4D, the industry leader 
        in rendering and 3D design. Made even more powerful with code.
      </Fragment>
      <Fragment slot="iconright2">
        <Icon class="w-16 h-16" name="simple-icons:stripe" />
      </Fragment>
      <Fragment slot="titleright2">
        Stripe payments
      </Fragment>
      <Fragment slot="textright2">
        Streamline your payment process and boost sales with Stripe's 
        secure payment gateway. With one-click checkout, you can 
        provide a seamless payment experience for your customers, 
        reducing cart abandonment and driving conversions. Benefit 
        from Stripe's transparent pricing, and robust fraud prevention 
        from day one for your business. For frictionless payment experiences.
      </Fragment>      
    </SectionTextarea>
  </ContainerXL>

  <Container>
    <Integrations />
  </Container>

  <ContainerFW>
    <Sectionhead>
      <Fragment slot="title">Ready for launch?</Fragment>
      <Fragment slot="desc" class="max-w-4xl">
        Move to Velocity7 and start crushing competition with ease in even the most competitive industries. Leave the world of churn web design. Turn around in a blazing 21 days, perfect for your next brand launch.
      </Fragment>
    </Sectionhead>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-16 mx-auto mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </ContainerFW>

  <ContainerXL>
    <SectionHeadImg>
      <Fragment slot="title">
        Shopify website design
      </Fragment>
      <Fragment slot="desc">
        We've worked in web design and development for over 10 years, if you're 
        looking for someone you can honestly trust with your Shopify Plus store, 
        we're worth giving a call. Velocity even comes in RubyonRails for use as 
        a Shopify theme. (Shopify theme available to Moonshot customers only)
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={Pagecover}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadImg>
  </ContainerXL>

  <ContainerXL>
    <SectionHeadSecImg>
      <Fragment slot="title">
        Wordpress website design
      </Fragment>
      <Fragment slot="desc">
        We're absolutely nuts about perfect web performance, after all, it's what the customer demands. 
        If your business is locked into a Web2 stack like Wordpress we have plenty of experience optimising 
        these sites with great results. From code structure improvement to waterfall optimisation, 
        we comb through your site constantly as new content arrives, always keeping your site fast and ranking well.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={PagecoverSecondary}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadSecImg>
  </ContainerXL>

  <Container>
    <Cta />
  </Container>

  <ContainerFW>
    <GallerySlider />
  </ContainerFW>
  
</Layout>
