---
import Container from "@components/container-fullwidth.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import aidxnLogo from 'assets/aidxn/aidxn-23-logo.svg'; 


const menuitems = [
  {
    title: "Design",
    path: "/brand-strategy",
  },
  {
    title: "Develop",
    path: "/web-design",
    children: [
        { title: "Web Design", path: "/web-design" },
        { title: "Shopify", path: "/web-design#shopify" },
        { title: "Wordpress", path: "/web-design#wordpress" },
        { title: "Velocity7", path: "https://velocity.aidxn.com/" },
      ],
  },
  {
    title: "Automate",
    path: "/automation",
    children: [
        { title: "Marketing", path: "/marketing" },
        { title: "Videography", path: "/marketing#video" },
        { title: "Interactive Ads", path: "/marketing#interactiveads" },
        { title: "Automation", path: "/marketing#automation" },
      ],
  },
];
---

<style>
  #navLogo {height: 65px; max-width: 21vw; min-width: 200px; margin: 20px auto;} 
  header {position: sticky; top: 0;}
  .dashboard-button {display: none;}
</style>

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="">
          <img id="navLogo" src={aidxnLogo} alt="Aidxn Design - Code by Aiden Wood"/>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-4">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900"
                    >
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>

        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link style="inverted" data-netlify-identity-button block size="md"></Link>
          <a href="https://aidxn.com/dashboard" class="dashboard-button hidden">Dashboard</a>
          <Link href="https://g2ok5807scs.typeform.com/to/tCmzlDza" size="md" block>Book</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <Link style="inverted" data-netlify-identity-button size="md"></Link>
        <a href="https://aidxn.com/dashboard" class="dashboard-button hidden">Dashboard</a>
        <Link href="https://g2ok5807scs.typeform.com/to/tCmzlDza" size="md">Book</Link>
      </div>
    </div>
  </header>
</Container>

<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<script type="text/javascript">
  on.mounted(() => {
    const netlifyIdentity = window.netlifyIdentity;
    netlifyIdentity.init();

    function showDashboardButton() {
      console.log('showDashboardButton is running');
      const user = netlifyIdentity.currentUser();
      const dashboardButtons = document.querySelectorAll('.dashboard-button');

      if (user) {
        dashboardButtons.forEach(button => {
          button.style.display = 'flex';
        });
      } else {
        dashboardButtons.forEach(button => {
          dashboardButtons.forEach(button => {
            button.style.display = 'none';
          });
        });
      }
    }

    showDashboardButton();
    netlifyIdentity.on('login', showDashboardButton);
    netlifyIdentity.on('logout', showDashboardButton);
  });
</script>
