---
// @ts-ignore
import raywhiteLogo from 'assets/ray-white-greyed.svg';
import ballrealtyLogo from 'assets/ball-realty-greyed.svg';
import nwfundingLogo from 'assets/nwfunding-logo-greyed.svg';
import tbcLogo from 'assets/theboogiecollective-logo-greyed.svg';
import tsdLogo from 'assets/social-dandelion-greyed.svg';
import cobraLogo from 'assets/cobra-car-club-greyed.svg';
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Works with your technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <img src={raywhiteLogo} class="h-8 md:h-12" />
    <img src={ballrealtyLogo} class="h-8 md:h-12" />
    <img src={nwfundingLogo} class="h-8 md:h-12" />
    <img src={tbcLogo} class="h-8 md:h-12" />
    <img src={cobraLogo} class="h-8 md:h-12" />
  </div>
</div>
