---
// @ts-ignore
import nwfundingLogo from 'assets/nwfunding-logo-greyed.svg';
import tbcLogo from 'assets/tbc-grey.svg';
import tsdLogo from 'assets/social-dandelion-greyed.svg';
import cobraLogo from 'assets/cobra-car-club-greyed.svg';
import brieLogo from 'assets/brie-logo-greyed.svg';
import snacksLogo from 'assets/snacks-photography-logo-greyed.svg';
import immersiveLogo from 'assets/immersive-structures-logo-greyed.svg';
---
  
  
<div class="mt-24">
  <div class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto rounded-lg flex flex-col items-center text-center">
    <h2 class="text-white text-xl md:text-3xl tracking-tight">
      Building better brands.
    </h2>
    <p class="text-slate-400 mt-4 text-md md:text-lg">
      Keeping industry leading brands at the forefront of Marketing.
    </p>
    <div class="flex gap-8 md:gap-16 items-center justify-center mt-10 flex-wrap">
      <img src={nwfundingLogo} class="h-16 md:h-24" />
      <img src={tbcLogo} class="h-16 md:h-24" />
      <img src={tsdLogo} class="h-16 md:h-24" />
      <img src={cobraLogo} class="h-8 md:h-12" />
      <img src={immersiveLogo} class="h-18 md:h-28" />
      <img src={brieLogo} class="h-16 md:h-24" />
      <img src={snacksLogo} class="h-16 md:h-24" />
    </div>
  </div>
</div>
  
<div>
  
<div class="hero-section">
    <css-doodle grid="21">
  
    </css-doodle>
</div>

  
</div>
  
<div>
  
  
  
</div>
