---
import { Picture } from "@astrojs/image/components";
import Dash from "../assets/dashboard.png";
import Chart from "../assets/chart.png";
import Payment from "../assets/payment.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import RayWhite from "../assets/ray-white-greyed.svg";
import BallRealty from "../assets/ball-realty-greyed.svg";
import BoogieCollective from "../assets/tbc-logo-greyed.svg";
import CobraClub from "../assets/cobra-car-club-greyed.svg";
import SocialDandelion from "../assets/social-dandelion-greyed.svg";
import ImmersiveStructures from "../assets/immersive-structures-logo-greyed.svg";
import BrieHair from "../assets/brie-logo-greyed.svg";
import NwFunding from "../assets/nwfunding-logo-greyed.svg";
import SnacksPhoto from "../assets/snacks-photography-logo-greyed.svg";
import DrTS from "../assets/dr-ts.svg";
import Estem from "../assets/academy-esteem.svg";






---


<!-- Redo page off of copy from hero-secondary for mapping within slider -->


<style>
  svg{width:100%;height:100%;perspective:50px}circle{stroke:#6D00A8;stroke-width:8px;fill:none}.equator{transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:2s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}
  #heroTagline{font-size: 5vw;}
</style>

<!-- Flickity -->
<link rel="stylesheet" href="/path/to/flickity.css" media="screen">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- Flickity Custom Styles -->
<style>
  .carousel-cell {
  background: black !important;
  width: 300px;
  height: 100%;
  max-height: 200px;
  margin-right: 10px;
  margin-bottom: 45px;
  padding: 20px, 40px;
}
</style>

<main class="max-w-screen-2xl mx-auto">
<div id="heroSection" class="flex flex-col sm:flex-row place-items-center mt-8 pt-16 pb-8 md:pt-12 md:pb-24">
  
  <div class="w-full lg:w-3/5 py-6">

    <div class="py-6">
      <h2 style="heroTagline" class="text-5xl w-full lg:max-w-4xl font-bold lg:tracking-tight xl:tracking-tighter">
        Effective Marketing is simply no accident,
        not even close.
      </h2>
      <p class="text-lg mt-6 text-slate-700 w-full lg:max-w-4xl">
        Most top minds in marketing can boil it down to their particular formula, we're all pretty much the same.
        Velocity7 is our pudding full of proof that we are serious about winning design and code performance.
        <wbr>
      </p>
      <div class="mt-12 flex flex-col sm:flex-row gap-3">
        <a href="https://aidxn.com/services" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center"><svg viewBox="0 0 24 24" class="text-white w-5 h-5" astro-icon="bx:bxs-cloud-download">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M9.94 2.512a20.75 20.75 0 0 1 4.692 0l1.596.182a.75.75 0 0 1 .62 1.003l-2.203 6.016H17a.75.75 0 0 1 .702 1.014l-.19.507a35.749 35.749 0 0 1-5.535 9.745l-.391.49A.75.75 0 0 1 10.25 21v-7.152H8.429a.75.75 0 0 1-.748-.684l-.122-1.382a39.75 39.75 0 0 1 0-7.027l.122-1.382a.75.75 0 0 1 .663-.68l1.595-.18Zm4.523 1.49a19.25 19.25 0 0 0-4.354 0l-.987.113l-.069.772c-.2 2.25-.2 4.513 0 6.763l.062.698H11a.75.75 0 0 1 .75.75v5.704a34.251 34.251 0 0 0 4.163-7.589H13.57a.75.75 0 0 1-.704-1.007l2.244-6.13l-.648-.073Z" clip-rule="evenodd"/></svg>          </svg>

          All Services

        </a>
        <a href="https://aidxn.com/about" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white border-2 border-black hover:bg-gray-100 text-black flex gap-1 items-center justify-center"><svg viewBox="0 0 24 24" class="text-black w-4 h-4" astro-icon="bx:bxl-github">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="evenOdd" d="M14.604 2.76a20.5 20.5 0 0 0-4.637 0l-1.595.182a.5.5 0 0 0-.441.453l-.123 1.382a39.5 39.5 0 0 0 0 6.983l.123 1.382a.5.5 0 0 0 .498.456H10.5V21a.5.5 0 0 0 .89.312l.391-.49a35.5 35.5 0 0 0 5.497-9.676l.19-.507A.5.5 0 0 0 17 9.963h-2.713l2.325-6.352a.5.5 0 0 0-.413-.669l-1.595-.181Z"/></svg>
        </svg>
          
          Meet the Team

        </a>
      </div>
    </div>
  </div>
  <div class="relative z-10 xl:1/4 h-full px-16 pb-32 mt-16 lg:w-2/5 md:px-24 lg:px-5 xl:px-0 lg:pb-0 lg:mt-0 group">

    <div class="relative flex items-center justify-center w-full h-full">
      <div class="w-3/4 h-auto max-h-48 lg:max-h-64 xl:max-h-96">
        <div id="imgContainer" class="absolute w-48 h-48">
          <Picture
                src={Chart}
                sizes="(max-width: 800px) 800px, 400px"
                widths={[400, 800]}
                loading="eager"
                aspectRatio="3:2"
                background="#f2f2f2"
                fit="contain"
                position="center"
                class="absolute left-0 z-10 object-cover object-center w-48 h-64 -mt-32 -ml-8 transition duration-300 transform rounded-md shadow-2xl md:w-40 lg:w-40 lg:top-0 lg:-mt-16 md:-mr-16 lg:-mr-6 md:rounded-lg lg:rounded-xl group-hover:scale-105"
              />
        </div>
        <div id="imgContainer" class="">
          <Picture
                src={Payment}
                sizes="(max-width: 800px) 800px, 400px"
                widths={[400, 800]}
                loading="eager"
                aspectRatio="2:3"
                background="#f2f2f2"
                fit="contain"
                position="center"
                class="absolute right-0 z-10 object-cover object-center w-48 h-64 -mt-8 -mr-8 transition duration-300 transform rounded-md shadow-2xl md:w-40 lg:w-40 lg:top-0 lg:-mt-16 md:-mr-16 lg:-mr-6 md:rounded-lg lg:rounded-xl group-hover:scale-105"
              />
        </div>
        <div id="ImgContainer" class="relative w-full h-full overflow-hidden transition duration-300 transform shadow-lg rounded-xl group-hover:scale-95">
          <Picture
                src={Dash}
                sizes="(max-width: 800px) 100vw, 800px"
                widths={[400, 800]}
                loading="eager"
                aspectRatio="5:3"
                background="#f2f2f200"
                fit="contain"
                position="center"
                class="w-full z-4"
              />
        </div>
        
      </div>
    </div>
  </div>
</div>


<h2 style="sliderfullHeader" class="text-5xl w-full lg:max-w-4xl font-bold lg:tracking-tight xl:tracking-tighter">
  Proven Results in the Toughest Industries.
</h2>
<p class="text-lg mt-6 mb-8 text-slate-700 w-full lg:max-w-4xl">
  Almost a natural law of marketing is that your customers judge you on your worst performers. Because of this we prefer to provide a cover-all solution for most clients. Truly leaving no stoned unturned.
</p>

<div class="carousel max-w-screen-2xl mx-auto" data-flickity='{ "wrapAround": true, "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
  
  <div class="carousel-cell" class="rounded m-4 flex justify-center items-center">
    <img src={NwFunding} class="w-full h-36 p-4" />
  </div>
  <div class="carousel-cell" class="rounded m-4 flex justify-center items-center">
    <img src={RayWhite} class="w-full h-24 p-4" />
  </div>
  <div class="carousel-cell" class="rounded m-4 flex justify-center items-center">
    <img src={BallRealty} class="w-full h-24 p-4" />
  </div>
  <div class="carousel-cell" class="rounded m-4 flex justify-center items-center">
    <img src={CobraClub} class="w-full h-24 p-4" />
  </div>
  <div class="carousel-cell" class="rounded m-4 flex justify-center items-center">
    <img src={DrTS} class="w-full h-36 p-4" />
  </div>
  <div class="carousel-cell" class="rounded m-4 flex justify-center items-center">
    <img src={Estem} class="w-full h-36 p-4" />
  </div>
  <div class="carousel-cell" class="rounded m-4 flex justify-center items-center">
    <img src={SocialDandelion} class="w-full h-36 p-4" />
  </div>
  <div class="carousel-cell" class="rounded m-4 flex justify-center items-center">
    <img src={BrieHair} class="w-full h-24 p-4" />
  </div>
  <div class="carousel-cell" class="rounded m-4 flex justify-center items-center">
    <img src={BoogieCollective} class="w-full h-36 p-4" />
  </div>
  <div class="carousel-cell" class="rounded m-4 flex justify-center items-center">
    <img src={ImmersiveStructures} class="w-full h-36 p-4" />
  </div>
  <div class="carousel-cell" class="rounded m-4 flex justify-center items-center">
    <img src={SnacksPhoto} class="w-full h-24 p-4" />
  </div>

</div>
</main>
