---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { Picture } from "@astrojs/image/components";
import VelocityEcomm from '../assets/previous-works/estem/5.webp';
import VelocityMed from '../assets/previous-works/snacks/smlslider.webp';
import VelocitySml from '../assets/previous-works/tsd/hero.webp';
import BrandPack from '../assets/previous-works/pattern-design.webp';
import CompleteBrandPack from '../assets/previous-works/website-mock-ups.webp';
import CPCmarketing from '../assets/previous-works/cpc-management.webp';
import MetaAdManagement from '../assets/previous-works/fb-marketing.webp';
import AnimatedAds from '../assets/previous-works/br/br-gwd.webp';
import DisplayMarketing from '../assets/previous-works/br/br-re.webp';
import ProductConcepts from '../assets/previous-works/branded-product-design.webp';
import BusAds from '../assets/previous-works/br/br-bus.webp';
import BillboardAds from '../assets/previous-works/store-front-ad-design.webp';
import SimpleService from '../assets/previous-works/conversion-optimisation.webp';
import MoonshotDesign from '../assets/previous-works/moonshot-mgmt.webp';



const services = [
  {
      title: "Moonshot Plan",
      category: "Brand Design",
      description:
        "Our complete website and marketing management solution. Monthly KPI improvement. 10 clients max. Pause anytime.",
      imgsrc: MoonshotDesign,
      inclusions: [
        "Brand Strategy",
        "Web Design and Dev",
        "Marketing Mgmt",
        "Automation / AI",
        "Monthly visit to your office.",
        "Continous funnel improvement.",
        "Monthly custom reporting.",
        "Moonshot Plan success system.",
      ],
      imgalt: "Gold Coast website and marketing management. Award-winning experts. 10 clients max, pause anytime.",
      style: "outline",
      btntxt: "Purchase",
      price: "5445/mth",
      saleprice: "4445/mth",
      paytype: "monthly",
      buylink: "https://buy.stripe.com/fZebKh8zh9prcvu00j",
  },
  {
    title: "Animated Ad Pack",
    category: "Brand Design",
    description:
      "Google Display Network (GDN) is a great way to reach huge amounts of highly targeted people through visual soft-intent advertising, and one of our favourites.",
    imgsrc: AnimatedAds,
    inclusions: [
      "Animated Ad Design",
      "Large Ad Format (24 sizes)",
      "Creative Concept Development",
      "Customized Ad Campaign",
      "Performance Tracking",
      "Ad Delivery and Reporting",
    ],
    imgalt: "Advertising with Google Display ads. Managed on the Gold Coast.",
    style: "outline",
    btntxt: "Purchase",
    buylink: "https://buy.stripe.com/cN2cOl4j10SV0MMfZd",
    price: "2445",
    saleprice: "1745",
    paytype: "once-off",
    infostyle: "outline",
    infobtntxt: "More info",
    infolink: "https://buy.stripe.com/cN2cOl4j10SV0MMfZd",
  },
  {
    title: "Velocity - Medium",
    category: "Web Development",
    description:
      "Get your business online professionally and fast. Using Velocity to skip all the time wasters of selling online and skip straight to success.",
    inclusions: [
      "12x page Custom Web Design",
      "Basic E-commerce",
      "Website Deployment",
      "SEO Optimization",
      "Content Management System",
      "Custom Web Development",
    ],
    imgsrc: VelocityMed,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    style: "outline",
    btntxt: "Purchase",
    price: "4445",
    saleprice: "3445",
    paytype: "once-off",
    buylink: "https://buy.stripe.com/aEUeWt5n5dFHbrq4gr",
  },
  {
    title: "Brand Asset Expansion",
    category: "Brand Design",
    description:
      "If your brand is just a logo, our asset pack includes a minimum of 12 branded design asset files. Helping early brand establishment. Focus on product education.",
    imgsrc: BrandPack,
    inclusions: [
      "Market Research",
      "Marketing Strategy Planning",
      "Brand-Cohesive Design",
      "Asset Release in PNG, WebP and SVG",
      "Competitor Analysis",
      "Brand Identity Development",
    ],
    imgalt: "Advertising with Billboards, Buses, Facebook, Instagram, and anything else, managed locally to know your best oppurtunities and marketing strategy improved monthly.",
    style: "outline",
    btntxt: "Purchase",
    price: "1745",
    saleprice: "1445",
    paytype: "month-to-month",
    buylink: "https://buy.stripe.com/3cs4hP7vd3138fe00d",
  },
  {
    title: "3D Design / Product Concepts",
    category: "Brand Design",
    description:
      "Design complex print such as multi-layered business cards and on-shelf products. Includes hyper-realistic renders for your approval.",
    imgsrc: ProductConcepts,
    inclusions: [
      "6x Product Designs w/ 2x Revisions",
      "Design for Complex Mediums",
      "Brand-Cohesive Design",
      "Realistic Approval Renders",
      "Competitor Analysis",
      "Brand Identity Development",
    ],
    imgalt: "With over 8 years of professional graphic design experience, I have worked with a range of complex print mediums and can help your business look best.",
    style: "outline",
    btntxt: "Purchase",
    price: "1745",
    saleprice: "1445",
    paytype: "month-to-month",
    buylink: "https://buy.stripe.com/3cs4hP7vd3138fe00d",
  },
  {
    title: "Billboard Ad Deign",
    category: "Brand Design",
    description:
      "Improving conversion has been proven by maths to improve conversion rates across the board. One of the easiest ways to improve revenue quickly.",
    imgsrc: BillboardAds,
    inclusions: [
      "Website Performance Audit",
      "Page Speed Optimization",
      "Caching and Compression",
      "Image Optimization",
      "Code Optimization",
      "Performance Benchmarking",
    ],
    imgalt: "Improving conversion across the board through web performance improvements.",
    style: "outline",
    btntxt: "Purchase",
    price: "945",
    saleprice: "745",
    paytype: "month-to-month",
    buylink: "https://buy.stripe.com/7sI6pXdTBdFHgLKdR0",
  },
  {
    title: "Bus Ad Design",
    category: "Brand Design",
    description:
      "We handle the entire process of getting your business on buses that actually move through your customer's area, finding the exact bus routes.",
    imgsrc: BusAds,
    inclusions: [
      "Bus Advertising Design",
      "Route Optimization",
      "Graphic Design for Bus Ads",
      "Bus Ad Deployment",
      "Localized Targeting",
      "Finding the Best Ads Rates",
    ],
    imgalt: "Advertising with Gold Coast and Brisbane Buses. Bus marketing design and deploy managed on the Gold Coast.",
    style: "outline",
    btntxt: "Purchase",
    price: "2445",
    saleprice: "1745",
    paytype: "once-off",
    buylink: "https://buy.stripe.com/bIY01zaHp4573YYeVa",
  },
  {
    title: "Brand Launch Pack",
    category: "Brand Design",
    description:
      "We will research and validate a brand design pack with blazing-fast turnaround, with ddesign focus on virality for lowered marketing costs.",
    imgsrc: CompleteBrandPack,
    inclusions: [
      "Marketing Strategy Planning",
      "Video Production",
      "Graphic Design",
      "Social Media Advertising",
      "Print Advertising",
      "Brand Collateral Development",
    ],
    imgalt: "Advertising with Google Display ads. Managed on the Gold Coast.",
    style: "outline",
    btntxt: "Purchase",
    price: "4445",
    saleprice: "3445",
    paytype: "once-off",
    buylink: "https://buy.stripe.com/aEU6pX6r91WZ5328wB",
  },
];
---

<!-- Flickity -->
<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- Flickity Custom Styles -->
<style>

  .carousel-cell {
    margin: 10px 20px;
    padding: 30px 20px;
  }

    /* Start Flickity viewport safeguards V4 - Testing */
  main { max-width: 100%; }
  .services-carousel { max-width: 100vw !important; }
  .flickity-viewport { margin: 0 auto !important; overflow-y: visible !important; }
  .carousel-cell { margin: 20px 10px !important; }
  
  /* End Flickity viewport safeguards V4 - Testing */


  </style>

<main class="my-8 md:my-16">
<div class="">
  <h5 class="text-xs md:text-sm lg:text-md my-4 text-slate-700">
    Get started
  </h5>
  <h2 class="text-2xl md:text-3xl lg:text-5xl font-bold lg:tracking-tight">
    Our most popular services.
  </h2>
  <p class="text-sm lg:text-lg max-w-6xl mt-4 text-slate-600">
    We offer full-suite, design to deployment marketing management under our Moonshot plan, but we don't expect you to fall in love straight away. 
    Get to know our work and turn-around for deliverables + requests, we're sure you'll be asking for a key to the house in no time.
  </p>
</div>

<div id="sliderContainer" class="services-carousel grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4 md:gap-8">
  {
    services.map((item) => (
      <div id="glass-card" class="carousel-cell w-fit">
          <div id="imgContainer" class="w-full block h-fit">
            <Picture
                  src={item.imgsrc}
                  sizes="(max-width: 1680px) 1680px, 1260px, 840px"
                  widths={[840, 1260, 1680]}
                  aspectRatio="5:3"
                  loading="lazy"
                  background="#f2f2f200"
                  fit="cover"
                  position="center"
                  class="w-full rounded pb-8"
                />
          </div>
          <div class="w-full gap-6 ">
            <h5 class="text-slate-700 mr-3 uppercase text-xs">{item.category}</h5>
            <h3 class="font-semibold text-xl md:text-2xl lg:text-3xl">{item.title}</h3>{" "}
            <p class="text-xs lg:text-md text-slate-700 pt-2 leading-relaxed">{item.description}</p>
            <div class="hidden md:block my-6 gap-4">
              <i class="md:text-sm text-md">Includes:</i>
              <ul class=" grid grid-cols-2 gap-x-4 gap-y-2">
                {item.inclusions.map((inclusion) => (
                  <li class="text-xs text-slate-700 ">{inclusion}</li>
                ))}
              </ul>
            </div>
            <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center">
              <div class="flex items-center py-6">
                <p class="text-lg lg:text-xl font-normal text-black cursor-auto">${item.saleprice}</p>
                <del>
                  <p class="text-sm lg:text-md text-slate-700 font-thin cursor-auto ml-2">${item.price}</p>
                </del>
              </div>
              <div class="flex">
                <Link 
                  onClick="onClick()"
                  class="ml-2"
                  href={item.buylink || "#"}
                  block
                  style={item.style ? "primary" : "outline"}>
                  {item.btntxt || "Get Started"}
                </Link>
              </div>
            </div>
          </div>
      </div>
    ))
  }
</div>
</main>

<script >
  // element argument can be a selector string
  //   for an individual element
  var flkty = new Flickity( '.services-carousel', {
  cellAlign: 'center',
  contain: true,
  prevNextButtons: false,
  freeScroll: true,
  adaptiveHeight: true,
  });
</script>

